<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="sr-container">
				<div class="row">
					<div id="findBox-container">
						<div id="find-box">
							<h2>FIND</h2>
							<form action="/searchresultpage/search" method="post">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="hf-label" style="">MAKE</div>
										<div class="hf-select">
											<select name = "make" class="selectpicker" title="SELECT NAME" data-width="100%">
											<%
												var rowsMake = ["Hyundai Make-1", "Audi Make-1", "Lamborghini Make-1", "Mercedes Benz Make-1"];
												for(var i = 0; i < rowsMake.length; i++) {
											%>
												<option value = "<%=rowsMake[i]%>"><%=rowsMake[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">MODEL</div>
										<div class="hf-select">
											<select name = "model" class="selectpicker" title="SELECT MODEL" data-width="100%">
											<%
												var rowsModel = ["E 300", "E 500", "E 700"];
												for(var i = 0; i < rowsModel.length; i++) {
											%>
												<option value = "<%=rowsModel[i]%>"><%=rowsModel[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">YEAR</div>
										<div class="hf-select half">
											<select name = "fromYear" class="selectpicker" title="FROM" data-width="100%">
											<%
												var rowsFromYear = ["2019", "2018", "2017", "2016"];
												for(var i = 0; i < rowsFromYear.length; i++) {
											%>
												<option value = "<%=rowsFromYear[i]%>"><%=rowsFromYear[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
										<div class="hf-select half">
											<select name = "toYear" class="selectpicker" title="TO" data-width="100%">
											<%
												var rowsToYear = ["2019", "2018", "2017", "2016"];
												for(var i = 0; i < rowsToYear.length; i++) {
											%>
												<option value = "<%=rowsToYear[i]%>"><%=rowsToYear[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">PRICE</div>
										<div class="hf-select half">
											<select name = "fromPrice" class="selectpicker" title="FROM" data-width="100%">
											<%
												var rowsFromPrice = ["1000", "5000", "10000"];
												for(var i = 0; i < rowsFromPrice.length; i++) {
											%>
												<option value = "<%=rowsFromPrice[i]%>"><%=rowsFromPrice[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
										<div class="hf-select half">
											<select name = "toPrice" class="selectpicker" title="TO" data-width="100%">
											<%
												var rowsToPrice = ["50000", "100000", "1000000"];
												for(var i = 0; i < rowsToPrice.length; i++) {
											%>
												<option value = "<%=rowsToPrice[i]%>"><%=rowsToPrice[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">ENGINE</div>
										<div class="hf-select">
											<select name = "engine" class="selectpicker" title="SELECT ENGINE" data-width="100%">
											<%
												var rowsEngine = ["One", "Two", "Three"];
												for(var i = 0; i < rowsEngine.length; i++) {
											%>
												<option value = "<%=rowsEngine[i]%>"><%=rowsEngine[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>

									<div class="col-md-12 col-sm-12">
										<button type="submit" class="button" id="hf-button">Search</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div id="searchResultsBox-container">
						<div id="searchResults-box">
							<div style="border-bottom: 1px solid #2f3c40;">
								<h2>Search Results</h2>
								<div id="sortby-container">
									<div id="sortby-label">Sort by:</div>
									<div id="sortby">
										<a id="sortby-selected" href="#" data-toggle="dropdown" 
										   data-width="100%">Highest Price</a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a href="#">Lowest Price</a></li>
											<li><a href="#">Newest</a></li>
											<li><a href="#">Oldest</a></li>
										</ul>			
									</div>
								</div>
							</div>

							<%
								console.log(rows);
								for(var i=0; i<rows.length; i++) {
							%>
							<div class="searchResults-item">
								<div class="searchResult-image">
									<img src="<%=rows[i].img1%>">
								</div>
								<div class="searchResult-info">
									<div>
										<a href="/vehicledetails/list/<%=rows[i].id%>" class="searchResultInfo-title"><%=rows[i].make + " - " + rows[i].model%></a>
										<div class="searchResultInfo-price"><%=rows[i].price%></div>
									</div>
									<div>
										<div class="searchResult-info-inner1">
											<div><span>Make:</span><%=rows[i].make%></div>
											<div><span>Model:</span><%=rows[i].model%></div>
											<div><span>Transmission:</span><%=rows[i].trans%></div>
										</div>
										<div class="searchResult-info-inner2">
											<div><span>Fuel Type:</span><%=rows[i].fuel%></div>
											<div><span>Condition:</span>No Field</div>
										</div>
									</div>
									<div class="searchResultInfo-date"><span>Created Date:</span><%=rows[i].makedate%></div>
								</div>
							</div>
							<%
								}
							%>							
						</div>
					</div>
					<div id="adBox-container">
						<div id="ad-box">Empty block for ads</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
	</script>

<%- include('../layouts/footer'); %>