<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="ma-container">
				<div class="row">
					<div id="adListBox-container">
						<div id="adList-box">
							<div class="adList-item">
								<div class="adList-info">
									<span>Ad Number: </span>12
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="adList-buttons">
									<button>Approve</button>
									<button>Reject</button>
								</div>
							</div>
							<div class="adList-item">
								<div class="adList-info">
									<span>Ad Number: </span>13
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="adList-buttons">
									<button>Approve</button>
									<button>Reject</button>
								</div>
							</div>
							<div class="adList-item">
								<div class="adList-info">
									<span>Ad Number: </span>14
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="adList-buttons">
									<button>Approve</button>
									<button>Reject</button>
								</div>
							</div>
							<div class="adList-item">
								<div class="adList-info">
									<span>Ad Number: </span>15
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="adList-buttons">
									<button>Approve</button>
									<button>Reject</button>
								</div>
							</div>
							<div class="adList-item">
								<div class="adList-info">
									<span>Ad Number: </span>16
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="adList-buttons">
									<button>Approve</button>
									<button>Reject</button>
								</div>
							</div>
						</div>
					</div>
					<div id="adSelectedBox-container">
						<div id="adSelectedSearch-box">Search: 
							<input type="text" placeholder="Ad Number..">
							<button><i class="fa fa-search" aria-hidden="true"></i></button>
						</div>
						<div id="adSelected-box">
							<div id="adSelected-number"><span>Ad Number: </span> 12</div>
							<div id="adSelected-info">
								<div class="hf-label">Vehicle Details</div>
								<div><span>Make: </span> <%=row.make%></div>
								<div><span>Model: </span> <%=row.model%></div>
								<div><span>Year:</span> <%=row.year%></div>
								<div><span>Price:</span> <%=row.price%></div>
								<div><span>Transmission:</span> <%=row.trans%></div>
								<div><span>Fuel:</span> <%=row.fuel%>
								</div>
								<div><span>Description: </span>
									<br><%=row.description%>
								</div>
								<div><span>Features: </span>
									<br>
									<ul>
									<% 
									var features = "4 Wheel Drive, Cruise Control, Bluetooth System, Air Conditioner";
									var arr = features.split(",");
									for(var i = 0; i < arr.length; i++) {
									%>
										<li><%=arr[i]%></li>
									<% } %>
									</ul>
								</div>
							</div>
							<div id="adSelected-preview">
							<div id="adSelected-previewImage">
    						<i class="fa fa-caret-left" aria-hidden="true" style="left:5px;" onclick='previewImageLeft()'></i>
							<img src="<%=row.img1%>">
    						<i class="fa fa-caret-right" aria-hidden="true" style="right: 5px;" onclick='previewImageRight()'></i>
							</div>
								<div id="adSelectedPreviewItems">
									<div class="adSelectedItem-image">
										<img src="<%=row.img1%>">
									</div>
									<div class="adSelectedItem-image">
										<img src="<%=row.img2%>">
									</div>
									<div class="adSelectedItem-image">
										<img src="<%=row.img3%>">
									</div>
									<div class="adSelectedItem-image">
										<img src="<%=row.img4%>">
									</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
	</script>

	<script>
		var slideIndex=0;
		var imageContainer=$(".adSelectedItem-image");
	function previewImageLeft(){
		slideIndex-=1;
		if(slideIndex<0)slideIndex=imageContainer.length-1;
		setImage();
		
	}
		function previewImageRight(){
			slideIndex+=1;
			if(slideIndex>imageContainer.length-1)slideIndex=0;
			setImage();
	}
		function setImage(){
		var imageSrc= imageContainer.eq(slideIndex).find('img').attr('src');
		$("#adSelected-previewImage").find('img').attr('src',imageSrc);
		}
	</script>


<%- include('../layouts/footer'); %>