<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="up-container">
				<div class="row">
					<div id="AccSettingsBox-container">
						<div id="AccSettings-box">
							<h2>Account Settings</h2>
							<div style="margin-top: 20px;">
								<input id = "userid" type = "hidden" value = "<%=user.id%>" />
								<div>
									<div>
										<span>Email: </span><a><%=user.email%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "email" class = "ba-input" type = "text" placeholder = "Enter email address">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								
								<div>
									<div>
										<span>Password: </span><a><%=user.password%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "password" class = "ba-input" type = "text" placeholder = "Enter password">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								
								<div class="hf-label">ADDRESS</div>
								<div>
									<div>
										<span>Country: </span><a><%=user.country%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "country" class = "ba-input" type = "text" placeholder = "Enter country">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								
								<div>
									<div>
										<span>City: </span><a><%=user.city%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "city" class = "ba-input" type = "text" placeholder = "Enter city">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								
								<div>
									<div>
										<span>Street: </span><a><%=user.street%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "street" class = "ba-input" type = "text" placeholder = "Enter street">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
									
								<div class="hf-label">Contact details</div>

								<div>
									<div>
										<span>Mobile: </span><a><%=user.mobile%></a><i class="fa fa-pencil" aria-hidden="true"></i>
									</div>
									<div class = "d-none">
										<input id = "mobile" class = "ba-input" type = "text" placeholder = "Enter mobile number">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="manageAdsBox-container">
						<div id="manageAds-box">
							<h2>Manage Ads</h2>
							<%
								for(var i = 0; i < rows.length; i++) {
							%>
								<div class="manageAdsItem">
									<div class="manageAdsItem-left">
										<span>Ad Number: </span><%=rows[i].number%>
										<div><span>Title: </span><%=rows[i].title%></div>
										<div><span>Created Date: </span><%=rows[i].createdate%></div>
									</div>
									<div class="manageAdsItem-right">
										<button>Mark as sold</button>
										<a href = "/manageadpage/list/<%=rows[i].id%>">
											<button>Modify</button>
										</a>
									</div>
								</div>	
							<%
								}
							%>
						</div>
					</div>
					<div id="NewAdBox-container">
						<div id="NewAd-box">
							<h2>New Ad?</h2>
							<a href = "/newadpage/list/<%=user.id%>">
								<button type="submit" class="button">
								<i class="fa fa-plus-square" aria-hidden="true"></i> Click here</button>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
		<script>
			function menuFunction() {
				var x = document.getElementById("mainMenu-links");
				if (x.className === "clearfix") {
					x.className += " open";
				} else {
					x.className = "clearfix";
				}
			}
			
			$(".ba-input").change(function() {
				
				var userid = $("#userid").val();
				var fname = $(this).attr('id');
				var fvalue = $(this).val();

				$(this).parent("div").prev().find("a").text(fvalue);
				$(".fa-check").click();

				$.ajax({
					dataType: 'json',
					type:'POST',
					url: "/userprofilepage/updateuser",
					data:{userid:userid, fname:fname, fvalue:fvalue}
				}).done(function(data){
					//toastr.success('Created Successfully.', 'Success Alert', {timeOut: altTimeOut});
				});

			});
			
			$(".fa-pencil").click(function() {
				$(this).parent("div").removeClass("d-block");
				$(this).parent("div").addClass("d-none");

				$(this).parent("div").next().removeClass("d-none");
				$(this).parent("div").next().addClass("d-block");
				$(this).parent("div").next().find("input").focus();
			});
			
			$(".fa-check").click(function() {
				$(this).parent("div").removeClass("d-block");
				$(this).parent("div").addClass("d-none");

				$(this).parent("div").prev().removeClass("d-none");
				$(this).parent("div").prev().addClass("d-block");
			})

		</script>

<%- include('../layouts/footer'); %>