<%- include('layouts/header'); %>

	<!--main content-->
		<div id="home-main">
			<div class="container-fluid" id="home-container">
				<div id="home-bg">
					<div id="home-bg-inner">
						<div id="home-form" class="clearfix">
							<a href="#" id="PlaceAd"><i class="fa fa-plus-square" aria-hidden="true"></i> Place Ad</a>
							<div style="position: relative;">

								<h2>FIND VEHICLE</h2>
								<form action="search" method="post" style="margin: 0;">
									<div class="row">
										<div class="col-md-4 col-sm-12">
											<div class="hf-label" style="">NAME</div>
											<div class="hf-select">
												<select name = "make" class="selectpicker" title="SELECT NAME" data-width="100%">
												<%
													var rowsMake = ["Hyundai Make-1", "Audi Make-1", "Lamborghini Make-1", "Mercedes Benz Make-1"];
													for(var i = 0; i < rowsMake.length; i++) {
												%>
													<option value = "<%=rowsMake[i]%>"><%=rowsMake[i]%></option>   
												<%
													}
												%>
												</select>
											</div>

										</div>
										<div class="col-md-4 col-sm-12">
											<div class="hf-label">MODEL</div>
											<div class="hf-select">
												<select name = "model" class="selectpicker" title="SELECT MODEL" data-width="100%">
												<%
													var rowsModel = ["E 300", "E 500", "E 700"];
													for(var i = 0; i < rowsModel.length; i++) {
												%>
													<option value = "<%=rowsModel[i]%>"><%=rowsModel[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="hf-label">YEAR</div>
											<div class="hf-select">
												<select name = "year" class="selectpicker" title="SELECT YEAR" data-width="100%">
												<%
													var rowsYear = ["2019", "2018", "2017", "2016"];
													for(var i = 0; i < rowsYear.length; i++) {
												%>
													<option value = "<%=rowsYear[i]%>"><%=rowsYear[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">PRICE</div>
											<div class="hf-select half">
												<select name = "fromPrice" class="selectpicker" title="FROM" data-width="100%">
												<%
													var rowsFromPrice = ["1000", "5000", "10000"];
													for(var i = 0; i < rowsFromPrice.length; i++) {
												%>
													<option value = "<%=rowsFromPrice[i]%>"><%=rowsFromPrice[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
											<div class="hf-select half">
												<select name = "toPrice" class="selectpicker" title="TO" data-width="100%">
												<%
													var rowsToPrice = ["50000", "100000", "1000000"];
													for(var i = 0; i < rowsToPrice.length; i++) {
												%>
													<option value = "<%=rowsToPrice[i]%>"><%=rowsToPrice[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">YEAR</div>
											<div class="hf-select half">
												<select name = "fromYear" class="selectpicker" title="FROM" data-width="100%">
												<%
													var rowsFromYear = ["2019", "2018", "2017", "2016"];
													for(var i = 0; i < rowsFromYear.length; i++) {
												%>
													<option value = "<%=rowsFromYear[i]%>"><%=rowsFromYear[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
											<div class="hf-select half">
												<select name = "toYear" class="selectpicker" title="TO" data-width="100%">
												<%
													var rowsToYear = ["2019", "2018", "2017", "2016"];
													for(var i = 0; i < rowsToYear.length; i++) {
												%>
													<option value = "<%=rowsToYear[i]%>"><%=rowsToYear[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">SELLER</div>
											<div class="hf-select">
												<select name = "seller" class="selectpicker" title="SELECT SELLER" data-width="100%">
												<%
													var rowsSeller = ["no field"];
													for(var i = 0; i < rowsSeller.length; i++) {
												%>
													<option value = "<%=rowsSeller[i]%>"><%=rowsSeller[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">ENGINE</div>
											<div class="hf-select">
												<select name = "engine" class="selectpicker" title="SELECT ENGINE" data-width="100%">
												<%
													var rowsEngine = ["One", "Two", "Three"];
													for(var i = 0; i < rowsEngine.length; i++) {
												%>
													<option value = "<%=rowsEngine[i]%>"><%=rowsEngine[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">CITY</div>
											<div class="hf-select">
												<select name = "city" class="selectpicker" title="SELECT CITY" data-width="100%">
												<%
													var rowsCity = ["no field"];
													for(var i = 0; i < rowsCity.length; i++) {
												%>
													<option value = "<%=rowsCity[i]%>"><%=rowsCity[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">COLOR</div>
											<div class="hf-select">
												<select name = "color" class="selectpicker" title="SELECT COLOR" data-width="100%">
												<%
													var rowsColor = ["Red", "Green", "Blue"];
													for(var i = 0; i < rowsColor.length; i++) {
												%>
													<option value = "<%=rowsColor[i]%>"><%=rowsColor[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">TRANSMISSION</div>
											<div class="hf-select">
												<select name = "trans" class="selectpicker" title="SELECT TRANSMISSION" data-width="100%">
												<%
													var rowsTrans = ["Automatic", "Automatic-2", "Automatic-3"];
													for(var i = 0; i < rowsTrans.length; i++) {
												%>
													<option value = "<%=rowsTrans[i]%>"><%=rowsTrans[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">FUEL TYPE</div>
											<div class="hf-select">
												<select name = "fuel" class="selectpicker" title="SELECT FUEL TYPE" data-width="100%">
												<%
													var rowsFuel = ["Gasoline", "Gasoline-2", "Gasoline-3"];
													for(var i = 0; i < rowsFuel.length; i++) {
												%>
													<option value = "<%=rowsFuel[i]%>"><%=rowsFuel[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 advancedf">
											<div class="hf-label">CONDITION
											</div>
											<div class="hf-select">
												<select name = "condition" class="selectpicker" title="SELECT CONDITION" data-width="100%">
												<%
													var rowsCondition = ["no field"];
													for(var i = 0; i < rowsCondition.length; i++) {
												%>
													<option value = "<%=rowsCondition[i]%>"><%=rowsCondition[i]%></option>   
												<%
													}
												%>
												</select>
											</div>
										</div>
										<div class="col-md-12 col-sm-12">

											<a href="javascript:void(0);" onclick="homeAdvanced()" id="home-advanced">ADVANCED SEARCH <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
											<button type="submit" class="button" id="hf-button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>

										</div>
									</div>
								</form>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	</div>

	
	<div class="modal fade" id="loginPopup">
		<div class="modal-dialog" style="max-width: 350px;">
			<div class="modal-content popup-form">
				<!-- Modal Header -->
				<div class="modal-header pf-header">
					<h4 class="pf-title">Login</h4>
					<button type="button" class="close pf-close" data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="pf-content">
					<div class="pf-label">Username</div>
					<input type="text" class="pf-textInput" name="name" value="" aria-required="true" aria-invalid="false" placeholder="Enter your username" size="40">
					<div class="pf-label">Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<a href="#" class="pf-link">Forgot your password?</a>
					<input type="submit" value="Login" class="pf-submit">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="registerPopup">
		<div class="modal-dialog" style="max-width: 350px;">
			<div class="modal-content popup-form">
				<!-- Modal Header -->
				<div class="modal-header pf-header">
					<h4 class="pf-title">Register</h4>
					<button type="button" class="close pf-close" data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="pf-content">
					<div class="pf-label">Username(email)</div>
					<input type="text" class="pf-textInput" name="name" value="" aria-required="true" aria-invalid="false" placeholder="Enter your username" size="40">
					<div class="pf-label">Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<div class="pf-label">Re-type Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<input type="submit" value="Register" class="pf-submit">
					<div class="pf-social">
						<div class="pf-label">OR</div>
						<div class="pf-social-buttons">
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-google"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>

	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
	
		function homeAdvanced() {
			
			var x = document.getElementById("home-form");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}

		}
	</script>

<%- include('layouts/footer'); %>
