<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="nap-container">
				<div class="row">
					<div id="vehicleDetailsBox-container">
						<div id="vehicleDetails-box">
							<h2>Vehicle Details</h2>
							<form action="save" method="get">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="hf-label" style="">Vehicle Type</div>
										<div class="hf-select">
											<select class="selectpicker" id = "type" title="SELECT Vehicle Type" data-width="100%">
											<%
												var rowsType = ["Hyundai", "Audi", "Lamborghini", "Mercedes Benz"];
												for(var i = 0; i < rowsType.length; i++) {
										    %>
												<option value = "<%=rowsType[i]%>"><%=rowsType[i]%></option>   
											<%
												}
										  %>
											</select>
										</div>

									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label" style="">MAKE</div>
										<div class="hf-select">
											<select class="selectpicker make" id = "make" title="SELECT MAKE" data-width="100%">
											<%
												var rowsMake = ["Hyundai Make-1", "Audi Make-1", "Lamborghini Make-1", "Mercedes Benz Make-1"];
												for(var i = 0; i < rowsMake.length; i++) {
											%>
												<option value = "<%=rowsMake[i]%>"><%=rowsMake[i]%></option>   
											<%
												}
											%>
											</select>
										</div>

									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">MODEL</div>
										<div class="hf-select">
											<select class="selectpicker model" id = "model" title="SELECT MODEL" data-width="100%">
											<%
												var rowsModel = ["E 300", "E 500", "E 700"];
												for(var i = 0; i < rowsModel.length; i++) {
											%>
												<option value = "<%=rowsModel[i]%>"><%=rowsModel[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">COLOR</div>
										<div class="hf-select">
											<select class="selectpicker color" id = "color" title="SELECT COLOR" data-width="100%">
											<%
												var rowsColor = ["Red", "Green", "Blue"];
												for(var i = 0; i < rowsColor.length; i++) {
											%>
												<option value = "<%=rowsColor[i]%>"><%=rowsColor[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">KM/MILES</div>
										<div class="hf-select">
											<select class="selectpicker mile" id = "mile" title="SELECT KM/MILES" data-width="100%">
											<%
												var rowsMile = ["100", "200", "300"];
												for(var i = 0; i < rowsMile.length; i++) {
											%>
												<option value = "<%=rowsMile[i]%>"><%=rowsMile[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">FUEL TYPE</div>
										<div class="hf-select">
											<select class="selectpicker fuel" id = "fuel" title="SELECT FUEL TYPE" data-width="100%">
											<%
												var rowsFuel = ["Gasoline 1", "Gasoline 2", "Gasoline 3", "Gasoline 4"];
												for(var i = 0; i < rowsFuel.length; i++) {
											%>
												<option value = "<%=rowsFuel[i]%>"><%=rowsFuel[i]%></option>   
											<%
												}
											%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">TRANSMISSION</div>
										<div class="hf-select">
											<select class="selectpicker trans" id = "trans" title="SELECT TRANSMISSION" data-width="100%">
												<%
													var rowsTrans = ["Automatic 1", "Automatic 2", "Automatic 3", "Automatic 4"];
													for(var i = 0; i < rowsTrans.length; i++) {
												%>
													<option value = "<%=rowsTrans[i]%>"><%=rowsTrans[i]%></option>   
												<%
													}
												%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">ENGINE</div>
										<div class="hf-select">
											<select class="selectpicker engine" id = "engine" title="SELECT ENGINE" data-width="100%">
												<%
													var rowsEngine = ["One", "Two", "Three"];
													for(var i = 0; i < rowsEngine.length; i++) {
												%>
													<option value = "<%=rowsEngine[i]%>"><%=rowsEngine[i]%></option>   
												<%
													}
												%>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">Description</div>
										<textarea name="message" cols="30" rows="4" aria-invalid="false" placeholder="Write your description..." class="hf-textarea" id = "description"></textarea>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="hf-label">Features</div>
										<label class="hf-checkbox">
											<input type="checkbox" value="" class = "features_4wheel">4 Wheel Drive
										</label>
										<label class="hf-checkbox">
											<input type="checkbox" value="" class = "features_cruise">Cruise Control
										</label>
										<label class="hf-checkbox">
											<input type="checkbox" value="" class = "features_bluetooth">Bluetooth System
										</label>
										<label class="hf-checkbox">
											<input type="checkbox" value="" class = "features_air">Air Conditioner
										</label>
									</div>
									<div class="col-md-12 col-sm-12">
										<button type="submit" class="button" id="hf-button" onclick="saveClicked()">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div id="uploadPhotoBox-container">
						<div id="uploadPhoto-box">
							<div style="border-bottom: 1px solid #2f3c40;">
								<h2>Upload Photos</h2>
								<div id="uploadPhotoBox-uploadButton">Upload</div>
							</div>
							<div id="uploadPhotoBoxItem-container">
								<div class="uploadPhotoBox-item">
									<div class="uploadPhotoBox-image">
										<img src="/assets/img/1-car1.jpeg">
									</div>
									<button class="uploadPhotoBox-delete">Delete</button>
								</div>
								<div class="uploadPhotoBox-item">
									<div class="uploadPhotoBox-image">
										<img src="/assets/img/1-car2.jpeg">
									</div>
									<button class="uploadPhotoBox-delete">Delete</button>
								</div>
								<div class="uploadPhotoBox-item">
									<div class="uploadPhotoBox-image">
										<img src="/assets/img/1-car3.jpeg">
									</div>
									<button class="uploadPhotoBox-delete">Delete</button>
								</div>
								<div class="uploadPhotoBox-item">
									<div class="uploadPhotoBox-image">
										<img src="/assets/img/1-car4.jpeg">
									</div>
									<button class="uploadPhotoBox-delete">Delete</button>
								</div>
							</div>
							<div id="uploadPhotoBox-preview">
								<img src="/assets/img/1-car1.jpeg">
							</div>
						</div>
						<div id="publishButton-container">
							<button id="publishButton">Publish</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
		
		function saveClicked() {
			$("#uploadPhoto-box").css("display","block");
			$("#publishButton-container").css("display","block");
			$("#uploadPhotoBox-container").css("opacity","1");
		}

		$("body").find("form").submit(function(e) {
			e.preventDefault();

			var form_action = $(this).attr("action");

			var type = $(this).find("#type").val();
			
			var make = $(this).find("#make").val();
			var model = $(this).find("#model").val();
			var color = $(this).find("#color").val();
			var mile = $(this).find("#mile").val();
			var fuel = $(this).find("#fuel").val();
			var trans = $(this).find("#trans").val();
			var engine = $(this).find("#engine").val();
			var description = $(this).find("#description").val();
			
			var features_4wheel = $(this).find(".features_4wheel").prop('checked');
			var features_cruise = $(this).find(".features_cruise").prop('checked');
			var features_bluetooth = $(this).find(".features_bluetooth").prop('checked');
			var features_air = $(this).find(".features_air").prop('checked');
			
			$.ajax({
				dataType: 'json',
				type:'POST',
				url: form_action,
				data:{type:type, make:make, model:model, color:color, mile:mile, fuel:fuel, trans:trans, engine:engine, description: description,features_4wheel:features_4wheel,features_cruise:features_cruise,features_bluetooth:features_bluetooth,features_air:features_air}
			}).done(function(data){ alert('success');
				//toastr.success('Created Successfully.', 'Success Alert', {timeOut: altTimeOut});
			});

		});
	</script>

<%- include('../layouts/footer'); %>